<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Exp1 Python Addin</Name><AddInID>{86d88c5f-9dd0-40a9-8992-fb79f3d452a8}</AddInID><Description>Exp1 Addin</Description><Version>0.1</Version><Image /><Author>B.Z.</Author><Company>CSU</Company><Date>03/12/2026</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Exp1Addins_addin.py" namespace="Exp1Addins_addin"><ArcMap>
    <Commands>
        <Button caption="ButtonAddLayer" category="Exp1 Python Addin" class="ButtonClassAddLayer" id="Exp1Addins_addin.buttonAddLayer" image="" message="AddLayer" tip="AddLayer"><Help heading="AddLayer">AddLayer</Help></Button>
        <Tool caption="ToolZoomIn" category="Exp1 Python Addin" class="ToolClassZoomIn" id="Exp1Addins_addin.toolZoomIn" image="" message="ZoomIn" tip="ZoomIn"><Help heading="ZoomIn">ZoomIn</Help></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Step3Toolbar" category="Exp1 Python Addin" id="Exp1Addins_addin.toolbar" showInitially="true"><Items><Button refID="Exp1Addins_addin.buttonAddLayer" /><Tool refID="Exp1Addins_addin.toolZoomIn" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>