<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{70e3d0e5-4091-4e86-91e1-86b73af08a18}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>CSU</Company><Date>09/08/2023</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="PyAddins_addin.py" namespace="PyAddins_addin"><ArcMap>
    <Commands>
        <Button caption="BtnAddLayer" category="Python Addin" class="ButtonAddLayer" id="PyAddins_addin.button" image="" message="AddLayer" tip="AddLayer"><Help heading="AddLayer">AddLayer</Help></Button>
        <Button caption="BtnFull" category="Python Addin" class="ButtonFull" id="PyAddins_addin.button_1" image="" message="ButtonFull" tip="ButtonFull"><Help heading="ButtonFull">ButtonFull</Help></Button>
        <Tool caption="ToolZoomIn" category="Python Addin" class="ToolZoomIn" id="PyAddins_addin.tool" image="" message="ToolZoomIn" tip="ToolZoomIn"><Help heading="ToolZoomIn">ToolZoomIn</Help></Tool>
        <Tool caption="ToolCreatePts" category="Python Addin" class="ToolCreatePts" id="PyAddins_addin.tool_1" image="" message="ToolCreatePts" tip="ToolCreatePts"><Help heading="ToolCreatePts">ToolCreatePts</Help></Tool>
        <Tool caption="ToolSelect" category="Python Addin" class="ToolSelect" id="PyAddins_addin.tool_2" image="" message="ToolSelect" tip="ToolSelect"><Help heading="ToolSelect">ToolSelect</Help></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="PyToolbar" category="Python Addin" id="PyAddins_addin.toolbar" showInitially="true"><Items><Button refID="PyAddins_addin.button" /><Button refID="PyAddins_addin.button_1" /><Tool refID="PyAddins_addin.tool" /><Tool refID="PyAddins_addin.tool_1" /><Tool refID="PyAddins_addin.tool_2" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>