<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Chapter 2 Python Addin</Name><AddInID>{ffd6c555-6fce-43d3-b344-acc88f24856f}</AddInID><Description>Chapter 2 Python Addin</Description><Version>0.1</Version><Image /><Author>Baoyi Zhang</Author><Company>CSU</Company><Date>03/03/2026</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Chapter2Addins_addin.py" namespace="Chapter2Addins_addin"><ArcMap>
    <Commands>
        <Button caption="ButtonAddLayer" category="Chapter 2 Python Addin" class="ButtonAddLayer" id="Chapter2Addins_addin.buttonAddLayer" image="" message="ButtonAddLayer" tip="ButtonAddLayer"><Help heading="ButtonAddLayer">ButtonAddLayer</Help></Button>
        <Button caption="ButtonFull" category="Chapter 2 Python Addin" class="ButtonClassFull" id="Chapter2Addins_addin.buttonFull" image="" message="ButtonFull" tip="ButtonFull"><Help heading="ButtonFull">ButtonFull</Help></Button>
        <Tool caption="ToolZoomin" category="Chapter 2 Python Addin" class="ToolClassZoomin" id="Chapter2Addins_addin.toolZoomin" image="" message="ToolZoomin" tip="ToolZoomin"><Help heading="ToolZoomin">ToolZoomin</Help></Tool>
        <Tool caption="ToolCreatePoints" category="Chapter 2 Python Addin" class="ToolClassCreatePoints" id="Chapter2Addins_addin.toolCreatePoints" image="" message="ToolCreatePoints" tip="ToolCreatePoints"><Help heading="ToolCreatePoints">ToolCreatePoints</Help></Tool>
        <Tool caption="ToolSelectPoints" category="Chapter 2 Python Addin" class="ToolClassSelectPoints" id="Chapter2Addins_addin.toolSelectPoints" image="" message="SelectPoints" tip="SelectPoints"><Help heading="SelectPoints">SelectPoints</Help></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Chapter2Toolbar" category="Chapter 2 Python Addin" id="Chapter2Addins_addin.toolbar" showInitially="true"><Items><Button refID="Chapter2Addins_addin.buttonAddLayer" /><Button refID="Chapter2Addins_addin.buttonFull" /><Tool refID="Chapter2Addins_addin.toolZoomin" /><Tool refID="Chapter2Addins_addin.toolCreatePoints" /><Tool refID="Chapter2Addins_addin.toolSelectPoints" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>